<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Topics</title>
  </head>
  <body>
    <% topics.forEach(function (topic, i) { %>
      <div id="topic-index">
        <h3><%= topic.votes %> | 
          <a id="indiv-topics" href ="/topics/<%= topic._id %>"><%= topic.title %></a>, by <%= topic.author %>.</h3>
          <a href="/topics/<%= topic._id %>"><%= topic.comments.length %>
            <% if (topic.comments.length == 1) { %>
              comment
          <%  } else { %>
              comments
          <% } %>
          </a>
      </div>
    <% }) %>
  </body>
</html>
