<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Topics</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand ga-font" id="ga-color" href="/">GAlleria</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/topics">Topics <span class="sr-only">(current)</span></a></li>
            <li><a href="/topics/new">New Topic</a></li>
            <li><a href="/topics/most-votes">Hot Topics</a></li>
            <!-- <li><a href="/users/logout">Log Out</a></li> -->
          </ul>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <% topic.forEach(function (topic, i) { %>
      <div id="pop-index">
        <h3 class="index-header">    <%= topic.votes %> |
          <a id="pop-topics" href ="/topics/<%= topic._id %>"><%= topic.title %></a>, by <%= topic.author %>.</h3>
          <a class="index-comment" href="/topics/<%= topic._id %>"><%= topic.comments.length %>
            <% if (topic.comments.length == 1) { %>
              comment
          <%  } else { %>
              comments
          <% } %>
          </a>
      </div>
    <% }) %>
  </body>
</html>
