<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Topics</title>
  </head>
  <body>
    <% topic.forEach(function (topic, i) { %>
      <div id="pop-index">
        <h3 class="index-header">    <%= topic.votes %> |
          <a id="pop-topics" href ="/topics/<%= topic._id %>"><%= topic.title %></a>, by <%= topic.author %>.</h3>
          <a class="index-comment" href="/topics/<%= topic._id %>"><%= topic.comments.length %>
            <% if (topic.comments.length == 1) { %>
              comment
          <%  } else { %>
              comments
          <% } %>
          </a>
      </div>
    <% }) %>
  </body>
</html>
