<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/topic-show.css">
    <title>Show All</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand ga-font" id="ga-color" href="/">GAlleria</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/topics">Topics <span class="sr-only">(current)</span></a></li>
            <li><a href="/topics/new">New Topic</a></li>
            <li><a href="/topics/most-votes">Hot Topics</a></li>
            <li class="log-out"><a href="/users/logout">Log Out</a></li>
          </ul>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <div>
    <form action="/topics/<%= topic._id %>/upvotes?_method=PATCH" method="POST">
      <input type="submit" name="topic[votes]" value="+1" placeholder="+1">
    </form>
    </div>
    <div>
    <form action="/topics/<%= topic._id %>/downvotes?_method=PATCH" method="POST">
      <input type="submit" name="topic[votes]" value="-1" placeholder="+1">
    </form>
    </div>
    <div class="show-div">
      <h3><%= topic.title %></h3>
      <h5>Author: <%= topic.author %></h5>
      <h6>Posted on: <%= topic.date %></h5>
      <p>>  <%= topic.body %></p>
      <% if (topic.comments) { %>
          <% for (var i = 0; i < topic.comments.length; i++) { %>
              <!-- <h6><%= topic.comments[i] %></h6> -->
            <div class="comment-div">
              <h6 class="comment-content"><%= topic.comments[i].content %></h6>
              <h6 class="comment-user">--<%= topic.comments[i].user %></h6>
            </div>
          <% } %>
      <% } else if (topic.comments.length == 0) { %>
          <h6>Join the dicussion and submit a comment below.</h6>
      <% } %>
      <% if (currentUser === topic.author) { %>
      <a href="/topics/<%= topic._id %>/edit">Edit</a>
      <% } %>
    <% if (currentUser === topic.author) { %>
    <div>
      <form action="/topics/<%= topic._id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete Topic">
      </form>
    </div>
    <% } %>
      <h4>Submit comment</h3>
      <form action="/topics/<%= topic._id %>/comments?_method=PATCH" method="POST">
        <input type="text" placeholder="comment here" name="topic[comments]">
        <input type="submit" value="post comment">
      </form>
    </div>
  </body>
</html>
