<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/topic-show.css">
    <title>Show All</title>
  </head>
  <body>
    <div class="topic">
      <h3><%= topic.title %></h3>
      <h5>Author: <%= topic.author %></h5>
      <p>>  <%= topic.body %></p>
      <!-- <% topic.comments.forEach(function (comments, i) { %> -->
        <h5><%= topic.comments %></h5>
      <!-- <% }) %> -->

      <h3>Submit comment</h3>
      <form action="/topics/<%= topic._id %>" method="POST">
        <input type="text" name="topic[comments][]">
        <input type="submit" value="post comment">
      </form>
    </div>
  </body>
</html>
