<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/topic-show.css">
    <title>Show All</title>
  </head>
  <body>
    <div>
    <form action="/topics/<%= topic._id %>/upvotes?_method=PATCH" method="POST">
      <input type="submit" name="topic[votes]" value="+1" placeholder="+1">
    </form>
    </div>
    <div>
    <form action="/topics/<%= topic._id %>/downvotes?_method=PATCH" method="POST">
      <input type="submit" name="topic[votes]" value="-1" placeholder="+1">
    </form>
    </div>
    <div class="topic">
      <h3><%= topic.title %></h3>
      <h5>Author: <%= topic.author %></h5>
      <h5>Posted on: <%= topic.date %></h5>
      <p>>  <%= topic.body %></p>
      <% if (topic.comments) { %>
          <% for (var i = 0; i < topic.comments.length; i++) { %>
              <!-- <h6><%= topic.comments[i] %></h6> -->
              <h6><%= topic.comments[i].content %></h6>
              <h6><%= topic.comments[i].user %></h6>
          <% } %>
      <% } else if (topic.comments.length == 0) { %>
          <h6>Join the dicussion and submit a comment below.</h6>
      <% } %>
      <% if (currentUser === topic.author) { %>
      <a href="/topics/<%= topic._id %>/edit">Edit</a>
      <% } %>
    <% if (currentUser === topic.author) { %>
    <div>
      <form action="/topics/<%= topic._id %>?_method=DELETE" method="post">
        <input type="submit" value="Delete Topic">
      </form>
    </div>
    <% } %>
      <h3>Submit comment</h3>
      <form action="/topics/<%= topic._id %>/comments?_method=PATCH" method="POST">
        <input type="text" placeholder="comment here" name="topic[comments]">
        <input type="submit" value="post comment">
      </form>
    </div>
  </body>
</html>
